/* --------------- GENERAL CSS STYLES STARTS ---------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.flex {
    display: flex;
    align-items: center;
}

body {
    background-color: #fcfcfd;
}
ul li {
    list-style: none;
    cursor: pointer;
}

.pointer {
    cursor: pointer;
}

.max-container-size {
    max-width: 1100px;
    /* display: flex; */
    margin: auto auto;
}

button {
    cursor: pointer;
}
.btn {
    padding: 12px;
    font-size: 1.3rem;
    color: white;
    border: none;
    border-radius: 5px;
    background-image: linear-gradient(to right, #e25a41, #9d228e);
}
/* ------------------------------------------------------- */



/* ------------------- css for navbar -------------------- */
.navbar {
    justify-content: space-between;
    padding: 20px 0;
}
.navbar .right-side ul {
    justify-content: space-between;
    gap: 30px;
    font-size: 1.1rem;   
}
/* ------------------------------------------------------- */



/* ---------css for section which is below header--------- */
.below-header-section {
    /* border: 2px solid red; */
    margin-top: 50px;
    margin-bottom: 50px;
}
.below-header-section .left-part p:first-child {
    font-size: 1rem;
    color: rgba(0, 0, 255, 0.692);
    font-weight: 600;
}
.below-header-section .left-part h1 {
    margin: 20px auto;
    font-size: 3rem;
    color: #333;

}
.below-header-section .left-part p:nth-child(3){
    color: #7388b5;
    line-height: 2;
    font-size: 1.1rem;
}
.know-more-btn {
    width: 150px;
    margin-right: 25px;
}
#how-it-works {
    color: #555;
    font-size: 1.2rem;
    margin-left: 5px;
}
/* ------------------------------------------------------- */



/* ---------------css for section features---------------- */
.features {
    margin-top: 50px;
    margin-bottom: 50px;
    /* border: 1px solid red; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}
.feature-1 {
    padding: 15px;
    box-shadow: 0px 0px 2px;
    border-radius: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: white;
}
.feature-1 p {
    margin: 20px 0;
    color: #c09ba7;
    font-size: 1.2rem;
}
.feature-1 .img {
    justify-content: space-around;
    margin: auto;
}
.feature-1 h1 {
    text-align: center;
    padding: 15px;
}
.feature-1 p:last-child {
    font-size: 1rem;
    color: #c09ba7;
    line-height: 1.5;
}
/* ------------------------------------------------------- */



/* -------------- css for automation section -------------- */
.automation {
    margin-top: 50px;
    margin-bottom: 50px;
}

.automation .left-side h1 {
    color: rgb(59, 59, 228);
    font-size: 1.4rem;
    padding-bottom: 20px;
}
.automation .left-side p {
    color: #c09ba7;
    font-size: 1.1rem;
    padding-bottom: 20px;
    line-height: 1.5;
}
.automation .left-side .solutions {
    color: #c09ba7;
    font-size: 1.1rem;
    margin-bottom: 10px;
    gap: 50px;
    text-align: center;
}
.automation .left-side .solutions span {
    gap: 10px;
    margin-bottom: 10px;
}
/* ------------------------------------------------------- */



/* ------------------ css for data section --------------- */
.data {
    margin-top: 100px;
    margin-bottom: 100px;
}
.data div{
    width: 25%;
    text-align: center;
}
.data div h1{
    font-size: 4rem;
    margin-top: 15px;
}
.data div h1 span{
    color: tomato;
}
.data div p{
    font-size: 1.4rem;
    color: #777;
    margin-bottom: 15px;   
}
/* ------------------------------------------------------- */



/* ------------- css for follow-up section---------------- */
.follow-up-wrapper {
    background-color: #f5f8ff;
    padding: 50px 0;
}
.follow-up {
    margin-top: 50px;
    margin-bottom: 50px;
    /* border: 2px solid red; */
    gap: 30px;
}

.follow-up .right-side h1 {
    color: rgb(59, 59, 228);
    font-size: 1.4rem;
    padding-bottom: 20px;
}

.follow-up .right-side:nth-child(2) {
    color: #222;
    font-size: 2rem;
    font-weight: bold;
    padding-bottom: 20px;
    line-height: 1.5;
}
.follow-up .right-side p {
    padding-top: 20px;
    color: #c09ba7;
    font-size: 1.1rem;
    padding-bottom: 20px;
    line-height: 1.5;
}
.follow-up .right-side .solutions {
    color: #c09ba7;
    font-size: 1.1rem;
    margin-bottom: 10px;
    gap: 50px;
    text-align: center;
}
.follow-up .right-side .solutions span {
    gap: 10px;
    margin-bottom: 10px;
}
/* ------------------------------------------------------- */



/* -------------- css for working section ----------------- */
.work {
    /* border: 1px solid red; */
    margin-bottom: 70px;
}
.working{
    padding: 50px 0;
    flex-direction: column;
    position: relative;
    margin-bottom: 120px;
}
.working h1 {
    font-size: 2.7rem;
    flex-direction: column;
    margin-bottom: 0;
    /* border: 1px solid red; */
}
.working div{
    text-align: center;
}

.css-design-work-section {
    background-image: linear-gradient(to left, #e25a41, #9d228e);
    height: 450px;
    width: 50%;
    margin: auto;
    border-radius: 300px;
    transform: rotate(70deg);
    position: absolute;
    top: 50px;
    z-index: -1;
}
/* ------------------------------------------------------- */



/* ----------- css for choosing us section---------------- */
.why-section p, .why-section h1 {
    text-align: center;
    margin-bottom: 15px;
}
.why-section p{
    color: rgb(92, 92, 216);
    font-size: 1.2rem;
}
.why-section h1 {
    font-size: 2.6rem;
}
.why-section {
    margin-bottom: 100px;
    /* border: 1px solid red; */
}
/* ------------------------------------------------------- */



/* --------------- css for pricing section --------------- */
.price-section {
    flex-direction: column;
    gap: 10px;
}
.price-section h1 {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 25px;
}

.price-cards {
    gap: 25px;
    width: 100%;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.price-cards .card {
    height: auto;
    box-shadow: 0 0 1px;
    border-radius: 10px;
    background-color: #ffffff;
}

.card-heading {
    margin: auto;
}

.card-price {
    justify-content: space-around;
    margin: 25px;
    color:#e25a41;
    font-size: 1.7rem;
}
.card .lists {
    margin-left: 25px;
}
.card .lists li {
    font-size: 1.2rem;
    line-height: 2;
}

.hrm {
    border-radius: 5px;
    background-image: linear-gradient(to right, #e25a41, #9d228e);
    border: none;
}
.hrm .card-heading {
    background-image: none;
    color: #e25a41;
    box-shadow: 0 0 4px;
}

.hrm .card-price {
    color: white;
}
.hrm .lists ul li {
    color: white;
}
/* ------------------------------------------------------- */



/* ----------------- CSS for FAQs Secion ----------------- */
.faq {
    /* border: 1px solid #999; */
    margin-top: 120px;
}

.faq h1 {
    text-align: center;
    font-size: 2.5rem;
    margin: 10px;
    margin-bottom: 25px;
}

.qna-body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
.qna-body .one {
    padding: 15px;
    border-radius: 15px;
    /* box-shadow: 0 0 1px; */
    background-color: rgb(250, 245, 235);
    height: 50px;
    height: max-content;
}
 .qna-body .ques {
    font-size: 1.2rem;
    color: rgba(0, 0, 0, 0.89);
 }
 .qna-body .ans {
    margin-bottom: 15px;
    margin-top: 15px;
    font-size: 1.1rem;
    line-height: 1.4;
    color: rgba(0, 0, 0, 0.89);
 }

.hidden {
    display: none;
}

.plus, .minus {
    cursor: pointer;
}
/* ------------------------------------------------------- */



/* ------------ styling contact form section ------------- */
.contact-form {
    /* border: 1px solid red; */
    margin-top: 100px;
    margin-bottom: 100px;
    position: relative;
}
.contact-form p{
    text-align: center;
    font-size: 2.2rem; 
    color: #222; 
    margin-bottom: 120px;
}
.contact-form form {
    flex-direction: column;
    gap: 15px; 
    width: 60%;
    margin: auto;
    padding: 70px;
    /* border: 1px solid #999; */
    border-radius: 15px;
    box-shadow: 0 0 1px;
    background-color: white;
}
.contact-form form input{
    width: 100%;
    height: 40px;
    padding: 7px;
    padding-left: 15px;
    font-size: 1rem;
    border-radius: 30px;
    border: transparent;
    background-color: whitesmoke;
    box-shadow: 0 0 1.5px;
}
#text-area {
    width: 100%;
    border-radius: 30px;
    border: transparent;
    box-shadow: 0 0 1.5px;
    padding: 14px;
    font-size: 1rem;
    box-shadow: 0 0 1.5px;
}
.contact-form form button {
    width: 100%;
    border-radius: 30px;
}

.css-design {
    background-image: linear-gradient(to left, #e25a41, #9d228e);
    height: 270px;
    width: 60%;
    margin: auto;
    border-radius: 180px;
    position: absolute;
    top: 40%;
    left: 20%;
    transform: rotate(70deg);
    z-index: -1;
}
/* ------------------------------------------------------- */



/* --------------- css for footer section ---------------- */
.footer {
    height: 100px;
    background-color: #f4f7fe;
    /* background-color: aqua; */
    /* box-shadow: 0 0 1px; */
    /* border: 1px solid red; */
}
.footer p {
    margin: auto;
}
/* ------------------------------------------------------- */


.ham {
    display: flex;
    flex-direction: column;
    position: relative;
}

.hamburger-item {
    border: 1px solid gray;
    width:max-content;
    padding: 15px;
    font-size: 1.1rem;
    color: rgb(36, 32, 32);
    font-weight: bold; 
    box-shadow: 0 0 4px; 
    background-image: linear-gradient(to right, rgba(255,0,0,0), rgb(209, 36, 36));
    position: absolute;
    right: 15px;
    top: 70px;
    transition: 0.5s;
    border: none;
}



/* ------------CSS FOR RESPONSIVE WEB DESIGN-------------- */
@media only screen and (max-width: 1150px) {
    body {
        padding-left: 30px;
        padding-right: 30px;
    }
    .solutions span {
        font-size: 0.8rem;
    }
    .automation .img {
        width: 50%;
    }
    .automation img {
        width: fit-content;
    }

}


@media only screen and (max-width: 950px) and (min-width: 850px) {
    .navbar .right-side ul {
        gap: 15px;
        /* border: 1px solid red; */
    }
    .automation-img {
        width: 50%;
        /* border: 1px solid red; */
    }
    .automation-img img {
        width: 350px;
        /* border: 1px solid blue; */
    }
  
    .data div h1 {
        font-size: 1.5rem;
    }
    .data div p {
        font-size: 18px;
    }
    .data div h1 span {
        font-size: 1.8rem;
    }

}


@media only screen and (max-width: 850px) {
    .below-header-section {
        flex-direction: column;
    }
    .features {
        display: flex;
        flex-direction: column;
        width: 90%;
    }
    .automation {
        flex-direction: column;
        gap: 20px;
    }
    .price-cards {
        display: flex;
        flex-direction: column;
        gap: 60px;
    }
    .price-cards .card {
        width: 90%;
        padding-left: 30px;
    }
    .qna-body {
        display: grid;
        grid-template-columns: 1fr;
    }
    .follow-up {
        flex-direction: column;
    }

    .data div h1 {
        font-size: 1.5rem;
    }
    .data div p {
        font-size: 18px;
    }
    .data div h1 span {
        font-size: 1.8rem;
    }    
    
    .data{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .data div {
        display: flex;
        flex-direction: column;
        /* border: 1px solid red; */
        width: 100%;
        gap: 10px;
    }


    .navbar .right-side {
        display: none;
    }
    .hamburger-icon {
        display: block;
    }
    .contact-form  form{
        width: 100%;
    }
    .contact-form form input, .contact-form form textarea, .contact-form form button {
        width: 90%;
    }

 
    .automation-img {
        width: 100%;
        /* border: 3px solid red; */
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .automation-img img {
        width: max-content;
        /* border: 3px solid blue; */
        margin: auto;
        
    }
}


@media only screen and (max-width: 560px) {
    .automation-img img {
        width: 360px;
        /* border: 3px solid yellow;   */
    }
}
@media only screen and (max-width: 480px) {
    .automation-img img {
        width: 300px;
        /* border: 3px solid blue;   */
    }

    .css-design-work-section {
        background-image: linear-gradient(to left, #e25a41, #9d228e);
        height: 450px;
        width: 50%;
        margin: auto;
        border-radius: 300px;
        transform: rotate(70deg);
        position: absolute;
        top: 50px;
        z-index: -1;
        overflow: hidden;
    }
}